*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 15rem;
    height: 32.5rem;
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.29);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.29);
}
.container.day {
    background-image: url("./images/day-time.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position:center ;
}
.container.night {
    background-image: url("./images/rainy.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position:center ;
}
.container.cloudy-day {
    background-image: url("./images/dia-nublado.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position:center ;
}

.container.cloudy-night {
    background-image: url("./images/noche-nublada.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position:center ;
}

.container.cloudy-night * {
    color: white;
}

.container.snow-day {
    background-image: url("./images/dia-nevado.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position:center ;
}

.container.snow-night {
    background-image: url("./images/noche-nevada.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position:center ;
}

.container.snow-night * {
    color: white;
}

.container.rain-day {
    background-image: url("./images/dia-lluvioso.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position:center ;
}

.container.rain-day * {
    color: white;
}

.container.rain-night {
    background-image: url("./images/rainy.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position:center ;
}

.container.rain-night * {
    color: white;
}

.container.clear-night {
    background-image: url("./images/noche-clara.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position:center ;
}

.container.clear-night * {
    color: white;
}

.inputTemp {
    margin: 1rem auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 0.4;
}
.search_submit > button {
    visibility: hidden;
}
.search_submit {
    display: flex;
}
.search{
    width: 100%;
    padding: 0.5rem;
    border-radius: .5rem;
    border: none;
    color: black !important;
}
.search:focus{
    outline: none;
}
.inputTemp_number{
    display: flex;
    align-items: center;
}
.inputTemp_celsius{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 4rem;
}
.inputTemp_symbol {
    font-size: 3rem;
    color: white;
}
.location{
    flex: 0.5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location_date{
    margin: 1.5rem;
}
.inputTemp_description, .location_city{
    font-size: 1.3rem;
    font-weight: bolder;
    color: #333;
}
.container.night .inputTemp_description{
    color: white;
}
.container.night .location_city{
    color: white;
}
.container.night .location_date{
    color: white;
    font-weight: bolder;
}
.container.night .weather_min, .container.night .weather_max {
    color: white;
}
.weather {
    flex: 0.1;
    border-top: 2px solid #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.weather_min >span {
    font-size: 1.4rem;
    color: blue !important;
}
.weather_max >span {
    font-size: 1.4rem;
    color: tomato !important;
}

@media screen and (max-width: 900px) {
    .container {
        width: 100%;
        height: 90vh;
    }
}